.main {
  margin-left: 20%;
  /* Same as the width of the sidenav */
  font-size: 28px;
}

.function {
  margin: 2%;
  padding: 1%;
  width: 94%;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 10px;
  height: 90%;
  background-color: #ccc;
}

.content {
  margin-bottom: 50%;
}

.notActivate {
  display: none;
}