.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #707070;
    overflow-x: hidden;
    padding-top: 1em;
    color: #c8c8c8;
  
    .account {
  
      .text{
        margin-left: 1em;
        float: left;
        font-size: 2em;
        #greeting{       
          font-weight: 100;
        }
        #userName{
          color: #fff;
        }
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 10%;
        float: right;
        margin-right: 1em;
        display: block;
      }
    }
  
    .functionList {
      margin: 80% 1em 50% 1em;
  
      background-color: #808080;
      border-radius: 10%;
      
      a {
        padding: 0.5em 1em;
        text-decoration: none;
        font-size: 25px;
        font-style: none;
        color: #c8c8c8;
        display: block;
  
        :hover {
          color: #ffffff;
        }
      }
    }
    // .musicPlayer{
    //   margin: 1em;
    //   padding: 1em;
    //   width: 100%;
    //   float:left;
    //   background-color: #808080;
    //   border-radius: 10%;
    //   img{
    //     float: left;
    //     height: 50px;
    //     width: 50px;
    //     border-radius: 10%;
    //   };
    //   .info{
    //     float:left;
    //   }
    //   .btn{
    //     float:left;
    //   }
    // }
  
  }
  